<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-header>
   <ion-navbar>
      <ion-title onclick="let menu = document.getElementById('menu'); if(menu.style.display=='none')menu.style.display='block'; else menu.style.display='none'; ">
         ||| MENU
      </ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="menu" style="display: none;">
    <button ion-button (click)="viewChars()">Characters</button>
    <button ion-button (click)="addEntry()">Add Char</button>
    <button ion-button (click)="addMaterials()">Add Material Needed</button>
  </div>

  <div id="infoMat">
      <div id="nmMat">{{mat.nmMat}}</div><br/>
      <div id="imgMat">Foto Aqui</div><br/>
      <div id="starMat">
          <div *ngIf="mat.qt_star>=1" id="star-{{mat.nm_color_star}}"></div>
          <div *ngIf="mat.qt_star>=2" id="star-{{mat.nm_color_star}}"></div>
          <div *ngIf="mat.qt_star>=3" id="star-{{mat.nm_color_star}}"></div>
          <div *ngIf="mat.qt_star>=4" id="star-{{mat.nm_color_star}}"></div>
          <div *ngIf="mat.qt_star>=5" id="star-{{mat.nm_color_star}}"></div>
          <div *ngIf="mat.qt_star>=6" id="star-{{mat.nm_color_star}}"></div>
      </div>
      <br/>
      <div id="qtMat">Quant.: {{ mat.qtCharMat }}</div>
      <br/>
      <div id="btn"><button ion-button (click)="closeInfo()">Close</button></div>
   </div>

  <table>
    <tr><th>Char Base</th><th>Material</th><th>Quant.</th><th>Options</th></tr>
    <tr *ngFor="let item of items">
     <td id="charBase">{{ item.nmBase }}</td>
     <td id="charMat">{{ item.nmMat }}</td>     
     <td>{{ item.qt_material }}</td>     
     <td>
       <button ion-button color="primary" item-right (click)="viewEntry({ record: item })">Edit</button>
       <button ion-button color="primary" item-right (click)="viewMore({ material: item })">View More</button>
     </td>
   </tr>    
  </table>

  
   
</ion-content>
