<!--
  Generated template for the CharactersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   <ion-navbar>
      <ion-title onclick="let menu = document.getElementById('menu'); if(menu.style.display=='none')menu.style.display='block'; else menu.style.display='none'; ">
         ||| MENU
      </ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>

	<div id="all">
	  <div id="menu" style="display: none;">
	    <button ion-button (click)="viewChars()">Characters</button>
	    <button ion-button (click)="addEntry()">Add Char</button>
	  </div>

	  <table>
			<tr><th>Name</th><th>Quant.</th><th>Stars</th><th>Attribute</th><th>Edit</th></tr>
			<tr *ngFor="let item of items">
			 <td>{{ item.nm_characters }}</td>
			 <td>{{ item.qt_characters }}</td>
			 <td>
				 <div>
						<div *ngIf="item.qt_star>=1" id="star-{{item.nm_color_star}}"></div>
						<div *ngIf="item.qt_star>=2" id="star-{{item.nm_color_star}}"></div>
						<div *ngIf="item.qt_star>=3" id="star-{{item.nm_color_star}}"></div>
						<div *ngIf="item.qt_star>=4" id="star-{{item.nm_color_star}}"></div>
						<div *ngIf="item.qt_star>=5" id="star-{{item.nm_color_star}}"></div>
						<div *ngIf="item.qt_star>=6" id="star-{{item.nm_color_star}}"></div>
				 </div>       
				</td>
			 <!--td><div id="star-five"></div>{{ item.cd_star }}</td-->
			 <!--td>{{ item.cd_attribute }}</td-->
			 <td><img src="assets/imgs/attributes/{{item.nm_attribute}}.png"></td>
			 <td>
				 <button ion-button color="primary" item-right (click)="viewEntry({ record: item })">View</button>
			 </td>
		 </tr>    
		</table>
   </div>
   
</ion-content>